//	<subroutineDec>
//	<parameterList>
//	<subroutineBody>
function Sys.init 0
//		<subroutineDec>
//		<parameterList>
//		<subroutineBody>
function Sys.halt 0
//			<subroutineDec>
//			<parameterList>
//			<subroutineBody>
function Sys.wait 0
//				<subroutineDec>
//				<parameterList>
//				<subroutineBody>
function Sys.error 0
